extends layout

block content
  h1= title

    - var items=[{name:"RANGE ROVER", mileage:"20000", color:"White"},{name:"BMW", mileage:"200000", color:"Black"},{name:"FORD", mileage:"300000", color:"Blue"}]
  div(class="container-fluid")
  div(class="row")
   each r  in items
    div(class="col-sm-2" ) #{r.name}, #{r.color}, #{r.mileage}