extends layout

block content
    h1= title

    form(id='vehiclesForm', action="/resource/vehicless", method="POST")
        div.form-group
            label.vehiclesAttr(for='name') vehicles Name
            input#name(type='text', name='name')
        div.form-group
            label.vehiclesAttr(for='color') vehicles color
            input#color(type='text', name='color')
        div.form-group
            label.vehiclesAttr(for='mileage') vehicles mileage
            input#mileage(type='number', name='mileage')
        input(type="submit")

    script.
        document.forms['vehiclesForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
            alert("Save succeded")
            // TODO handle body
            }).catch((error) => {
            // TODO handle error
            alert("Save failed " + error )
            });
        });
